# Rules of config file for Polaris ConfigParser:

# 1) comments start with #.
# 2) parameter name and values cannot contain space.
# 3) directories can be nested and specified with curly brackets { }. The closing bracket must have white space before and after.
# 4) between parameter key and value there should be either colon or equal sign.
# 5) at the end of parameter value, there should be a comma.
# 6) arrays can be passed in: simply use space to separate each values.


module {

    graphics{
        lib : ./lib/libsaberdaq.so,
        fcn : SaberGraphics,
        enable : true,
        next_module : daq,

        analysis{
            enable : false,
            roi{
                enable : true,
                threshold : 20,
                window : 750,
                pre_window : 20,
                post_window : 20,
                pre_win_var_threshold : 3,
                post_win_var_threshold : 3,
                hist_range : 10000 0 -1000000,
            }
            spe{
                enable : true,
                threshold : 5,
                window : 10,
                pre_window : 15,
                post_window : 15,
                pre_win_var_threshold : 3,
                post_win_var_threshold : 3,
                hist_range : 200 0 -100,
                search_begin : 5,
            }
        }
    }

    recorder{
        lib : ./lib/libsaberdaq.so,
        fcn : SaberRawRecorder,
        enable : true,
        next_module : graphics,
    }

    daq { 
        lib : ./lib/libsaberdaq.so,
        fcn : SaberDAQ,
        enable : true,
        next_module : recorder,

        connection0 {
            type : vme_optical_link,    # vme_optical_link or vme_usb
            link_number : 0,
            board_number : 0
        }

        board0 {
            enable : true,
            connect_via : connection0,
            link_number : 0,
            board_number : 0,
            address : 0x32100000,

            trigger_over_threshold : false,
            trigger_overlap : false,
            coin_level : 1,
            coin_window : 0,

            run_mode : register_controlled,

            software_trigger_enable : false,
            external_trigger_enable : false,

            fp_software_trigger_out_enable : false,
            fp_external_trigger_out_enable : false,

            logic_TTL : true,
            LVDS_IO_out : false,

            custom_size_enable : true,
            pre_trigger_window_us : 1,   # minimum 0.016, previously 1
            post_trigger_window_us : 6,   # minimum is about 0.3, previously 6

            channel0 {
                enable : true,
                threshold : 4000,
                time_cross_threshold : 0,
                DAC : 7750,   #with 7750, baseline is close to 3980
                local_trigger_enable : true,
                fp_local_trigger_out_enable : false,
                label : PMT0,
            }
            channel1 {
                enable : true,
                threshold : 4000, #3840
                time_cross_threshold : 0,
                DAC : 6250,   #with 7750, baseline is close to 3980
                local_trigger_enable : true,
                fp_local_trigger_out_enable : false,
                label : PMT1,
            }
            channel2 {
                enable : false,
                threshold : 1024,
                time_cross_threshold : 0x76,
                DAC : 0x765,
                local_trigger_enable : false,
                fp_local_trigger_out_enable : false,
            }
        }

        logic_trigger {
            enable : false,
            connect_via : daisy_chain, #connection0,
            address : 0x10000000,

            trigger_mode : pc,      # crystal, pc, veto, calibration
            enable_crystal_retrigger : false,
            enable_pc_retrigger : true,

            veto_mask : 0x3,
            majority_level : 2,
    
            signal_delay : 1,
            trigger_time : 2,
    
            crystal_gate_length : 0x1,
            pc_gate_length : 0x6,

            dead_time : 0xff,
            veto_time : 0xff,

        }

        periodic_trigger {
            enable : false,
            source : software,  # fpga or software
            rate : 1000  # rate in ms
        }

    }
}

