# Rules of config file for Polaris ConfigParser:

# 1) comments start with #.
# 2) parameter name and values cannot contain space.
# 3) directories can be nested and specified with curly brackets { }. The closing bracket must have white space before and after.
# 4) between parameter key and value there should be either colon or equal sign.
# 5) at the end of parameter value, there should be a comma.
# 6) arrays can be passed in: simply use space to separate each values.


module {

    graphics{
        lib : ./lib/libsaberdaq.so,
        fcn : SaberGraphics,
        enable : true,
        next_module : daq,
    }

    recorder{
        lib : ./lib/libsaberdaq.so,
        fcn : SaberHDF5Recorder,
        enable : true,
        next_module : graphics,
    }

    daq { 
        lib : ./lib/libsaberdaq.so,
        fcn : SaberDAQ,
        enable : true,
        next_module : recorder,

        connection0 {
            type : vme_optical_link,    # vme_optical_link or vme_usb
            link_number : 0,
            board_number : 0,
        }

        board0 {
            enable : true,
            connect_via : connection0,
            link_number : 0,
            board_number : 0,
            address : 0x32100000,

            trigger_over_threshold : false,
            trigger_overlap : false,

            coin_level : 0,
            coin_window : 0,

            run_mode : register_controlled,

            software_trigger_enable : false,
            external_trigger_enable : false,

            fp_software_trigger_out_enable : false,
            fp_external_trigger_out_enable : false,

            logic_TTL : true,
            LVDS_IO_out : false,

            custom_size_enable : true,
            pre_trigger_window_us : 1,   # minimum 0.016, previously 1
            post_trigger_window_us : 9,   # minimum is about 0.3, previously 6

            channel0 {
                enable : true,
                threshold : 4000,
                time_cross_threshold : 0,
                DAC : 6550,
                local_trigger_enable : true,
                fp_local_trigger_out_enable : false,
                label : NaI-anode,
            }

            channel1 {
                enable : true,
                threshold : 4030,
                time_cross_threshold : 0,
                DAC : 8864,
                local_trigger_enable : false,
                fp_local_trigger_out_enable : false,
                label : NoiseMonitor,
            }
        }

        logic_trigger {
            enable : false,
        }

        periodic_trigger {
            enable : false,
            source : software,  # fpga or software
            period : 1  # rate in kHz
        }

    }
}

