roi {
    enable : true,

    threshold : 10,
    window : 750,

    pre_window : 20,
    post_window : 20,

    pre_win_var_threshold : 3,
    post_win_var_threshold : 3,

    pre_ncross_0 : 3,
    post_ncross_0 : 3,

    search_begin : 250,
    search_end : 1000,
    max_dev : 6,
}


spe {
    enable : true,

    threshold : 2.5,
    window : 2,
    max_window : 10,

    # monopeak_threshold : 0.5,
    
    pre_window : 10,
    post_window : 10,

    pre_win_var_threshold : 2,
    post_win_var_threshold : 2,

    pre_ncross_0 : 3,
    post_ncross_0 : 3,

    search_begin : 1000,
    search_end : 1000000,
    max_dev : 3,
}


roi-plastic0 {
    enable : true,

    threshold : 20,
    window : 50,

    pre_window : 20,
    post_window : 20,

    pre_win_var_threshold : 3,
    post_win_var_threshold : 3,

    pre_ncross_0 : 3,
    post_ncross_0 : 3,

    search_begin : 150,
    search_end : 350,
    max_dev : 6,
}

roi-muveto {
    enable : true,

    threshold : 20,
    window : 50,

    pre_window : 20,
    post_window : 20,

    pre_win_var_threshold : 3,
    post_win_var_threshold : 3,

    pre_ncross_0 : 3,
    post_ncross_0 : 3,

    search_begin : 150,
    search_end : 350,
    max_dev : 6,
}



spe-plastic0 {
    enable : false,

    threshold : 2,
    window : 2,
    max_window : 15,

    # monopeak_threshold : 0.5,
    
    pre_window : 10,
    post_window : 10,

    pre_win_var_threshold : 2.5,
    post_win_var_threshold : 2.5,

    pre_ncross_0 : 3,
    post_ncross_0 : 3,

    search_begin : 1000,
    search_end : 1000000,
    max_dev : 6,
}

